<h4>.</h4>
<h3>.</h3>
<div class="col text-uppercase text-center">
  <h2>Catalogo de motocicletas</h2>
</div>
<div class="col text-center">
  Por la compra de cualquier motocicleta por nuestra página web recibira un descuento del 10%
</div>
<div class="col text-center">
  Y por la compra de una motocicleta exclusiva de nuestra página web recibira un descuento del 15%
</div>
<div class="container">
    <div class="row ">
      <div class="row row-cols-1 row-cols-md-4 g-4 h-100 d-flex align-items-center justify-content-center">
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_974591-MBO51921377585_102022-C.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">2019 Yamaha Tracer 900 Gt</h4>
              <p class="card-text">Precio: Bs 30.000</p>
              <p class="card-text">Marca: Yamaha 2019/1km</p>
              <h5 class="card-date">Publicado el 20/04/2021</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_892589-MBO51880568598_102022-C.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">2019 Honda Gold Wing</h4>
              <p class="card-text">Precio: Bs 30.000</p>
              <p class="card-text">Marca: Honda 2019/1km</p>
              <h5 class="card-date">Publicado el 15/02/2020</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_744606-MBO51973743056_102022-C.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">2017 Yamaha Yzf-r1 Raven Black</h4>
              <p class="card-text">Precio: Bs 30.000</p>
              <p class="card-text">Marca: Yamaha 2017/1km</p>
              <h5 class="card-date">Publicado el 28/08/2020</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_882690-MBO52165126534_102022-C.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">2023 Bmw G 310 R Standard Motorcycle</h4>
              <p class="card-text">Precio: U$S 3.500</p>
              <p class="card-text">Marca: BMW 2023/1km</p>
              <h5 class="card-date">Publicado el 15/05/2022</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_960956-MBO52165088921_102022-C.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">2022 Bmw R1250gs Adventure Motorcycle</h4>
              <p class="card-text">Precio: U$S 8.000</p>
              <p class="card-text">Marca: BMW 2022/1km</p>
              <h5 class="card-date">Publicado el 31/11/2020</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_643059-MBO51997062621_102022-C.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">2018 Yamaha Yzf R6 R-spec</h4>
              <p class="card-text">Precio: Bs 30.000</p>
              <p class="card-text">Marca: Yamaha 2018/1km</p>
              <h5 class="card-date"> Publicado el 05/03/2020</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_697564-MBO52164159722_102022-C.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">2023 Bmw R Ninet Urban G/s Heritage</h4>
              <p class="card-text">Precio: U$S 5.000</p>
              <p class="card-text">Marca: BMW 2023/1km</p>
              <h5 class="card-date">Publicado el 18/08/2021</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_687110-MBO51849680073_102022-C.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">2017 Kawasaki Track Ninja</h4>
              <p class="card-text">Precio: Bs 30.000</p>
              <p class="card-text">Marca: Kawasaki 2017/1km</p>
              <h5 class="card-date">Publicado el 28/09/2018</h5>
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          <div class="card border-0 col-sm-4 p-0">
            <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_610612-MBO51879621780_102022-C.webp" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">2016 Honda Rubicon deluxe 4x4 Automatic</h4>
              <p class="card-text">Precio: Bs 30.000</p>
              <p class="card-text">Marca: Honda 2016/1km</p>
              <h5 class="card-date">Publicado el 10/10/2019</h5>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br>
  <div class="h-100 d-flex align-items-center justify-content-center">
    <button type="reset" class="btn btn-block" style="background-color: #3b5998; color: white;">Siguiente</button>
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #0051ff;" href="#!" role="button"
    ><h5>1</h5></a>
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><h5>2</h5></a>
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><h5>3</h5></a>
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><h5>4</h5></a>
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><h5>5</h5></a>   
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><h5>6</h5></a>
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><h5>7</h5></a>
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><h5>8</h5></a>
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><h5>9</h5></a>
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><h5>10</h5></a>
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><h5>11</h5></a>
    &nbsp;
    &nbsp;
    <button type="reset" class="btn btn-block" style="background-color: #3b5998; color: white;">Anterior</button>
</div>
<br>