<h1>.</h1>

  <section  class="pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col text-uppercase text-center">
          <h2>Contactos UCB RIDER</h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          Ubicados cerca de la Universidad Catolica Boliviana, se encuentra nuestra sucursal de UCB RIDER, dedicada a la compra y venta de motocicletas. 
        </div>
      </div>
      <br>
      <div class="h-100 d-flex align-items-center justify-content-center">          
        <div style="width: 100%"><iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=450&amp;hl=en&amp;q=Av.%2014%20de%20Septiembre%20N%C2%BA%204807%20esquina,%20La%20Paz+(Universidad%20Cat%C3%B3lica%20Boliviana)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure acres/hectares on map</a></iframe></div>
      </div>
      <div class="row">
        <div class="col text-uppercase text-center">
          <br>
          <h2>NUESTRAS REDES SOCIALES</h2>
        </div>
      </div>
      <div class="h-100 d-flex align-items-center justify-content-center">
        <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"
        ><i class="fab fa-twitter"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button"
        ><i class="fab fa-google"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button"
        ><i class="fab fa-instagram"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
        ></a>   
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #c61118;" href="#!" role="button"
        ><i class="fab fa-pinterest"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #4c75a3;" href="#!" role="button"
        ><i class="fab fa-vk"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #ffac44;" href="#!" role="button"
        ><i class="fab fa-stack-overflow"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #ed302f;" href="#!" role="button"
        ><i class="fab fa-youtube"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #481449;" href="#!" role="button"
        ><i class="fab fa-slack-hash"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #ec4a89;" href="#!" role="button"
        ><i class="fab fa-dribbble"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #ff4500;" href="#!" role="button"
        ><i class="fab fa-reddit-alien"></i
        ></a>
        &nbsp;
        &nbsp;
        <a class="btn btn-primary" style="background-color: #25d366;" href="#!" role="button"
        ><i class="fab fa-whatsapp"></i
        ></a>
    </div>
      <div class="row">
        <div class="col text-uppercase text-center">
          <br>
          <h2>POR QUE NOS IMPORTA TU OPINION</h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          Envianos mensajes acerca de alguna queja, opinion o sugerencia que tuvieras a travez del siguiente formulario
        </div>
      </div>
      <div class="row">
        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
          <form id="myform">
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <label class="form-label" for="Nombre">Nombre(s):</label>
                <input type="text" class="form-control" id="Nombre">
              </div>
              <div class="form-group col-12 col-md-6">
                <label class="form-label" for="Apellido">Apellidos:</label>
                <input type="text" class="form-control" id="Apellido">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12 col-md-6">
                <label class="form-label" for="Celular">Numero de Celular:</label>
                <input type="text" class="form-control" id="Celular">
              </div>
              <div class="form-group col-12 col-md-6">
                <label class="form-label" for="Correo electrónico">Correo electrónico:</label>
                <input type="text" class="form-control" id="Correo electrónico">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12 col-md-12">
                <label class="form-label" for="Mensaje">Mensajes:</label>
                <textarea name="text" class="form-control form-control-lg" id="Mensaje"></textarea>
              </div>
            </div>
            <br>
            <div class="h-100 d-flex align-items-center justify-content-center">
              <div class="row align-items-center">
                <button type="reset" class="btn btn-block" style="background-color: #82ad36; color: white;">Enviar Mensaje</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">